
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
    box-sizing: border-box;
}

body{
  background: #ffffff;
  transition: background .3s ease-in-out;
}

.darkmode {
  background: #212121;
}

.write{
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: 540px;
  box-sizing: border-box;
  animation-name: kickoff;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  animation-fill-mode: forwards;
  opacity: 0;

}

.intro{
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: 820px;
  box-sizing: border-box;
  padding-top: 130px;
}

.date{
  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  color: #212121;
}

.darkmode .date{
  color: white;
  opacity: .3;
}

.darkmode .title input{
  color: white;
  background: #212121;
}

.title input{
  width: 100%;
  border: 0px;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Lekton', sans-serif;
  padding: 20px 0px;
  transition: background .3s ease-in-out;
}

.title h1{
  width: 100%;
  border: 0px;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Lekton', sans-serif;
  color: #212121;
}



.note textarea{
  width: 100%;
  border: 0px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  transition: background .3s ease-in-out;
}

.darkmode .note textarea{
  color: white;
  background: #212121;
}

.note p{
  width: 100%;
  border: 0px;
  font-size: 15px;
  color: #212121;
  opacity: .4;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
}


.action{
  height: 48px;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.28);
  position: fixed;
  bottom: -120px;
  z-index: 9999;
  width: 540px;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.action input{
  height: 48px;
  font-size: 16px;
  border: 0px;
  width: 80%;
  padding: 0px 20px;
  float: left;
  font-family: 'Roboto', sans-serif;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  transition: background .3s ease-in-out;
}

.darkmode .action input{
  background: black;
  color: white;

}

.action button{
  height: 48px;
  font-size: 16px;
  border-right: 0px;
  width: 20%;
  padding: 0px 20px;
  float: right;
  border: 0px;
  background: #4A90E2;
  color: white;
  font-family: 'Roboto', sans-serif;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.actionup a{
  height: 48px;
  font-size: 16px;
  border-right: 0px;
  padding: 0px 20px;
  float: left;
  border: 0px;
  line-height: 47px;
  text-decoration: none;
  margin-top:20px;
  background: #4A90E2;
  color: white;
  margin-top:60px;
  font-family: 'Roboto', sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: background .3s ease-in-out;
}

.actionup a:hover{
  background: #255286;
  text-decoration: none;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BABABA;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BABABA;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #BABABA;
}

.logo a{
  width: 30px;
  position: fixed;
  left: 0px;
  top: 40px;
  background: black;
  height: 20px;
  height: 20px;
  opacity: .1;
}

.logo img{
  width: 100%;
}

.dark{
  width: 15px;
  position: fixed;
  right: 25px;
  bottom: 20px;
  cursor: pointer;
}

.dark img{
  width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul li{
  float: left;
  width: 33.3%;
}

ul li p{
  font-size: 13px;
}

ul li img{
  margin-top: 40px;
  margin-bottom: 20px;
}
.animated{
  animation-name: from-bottom;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes from-bottom {
    from {bottom: -120px;}
    to {bottom: 100px;}
}

@keyframes kickoff {
    from {margin-top: 300px;opacity:0;}
    to {margin-top: 120px;opacity:1;}
}


@media only screen and (max-width: 560px) {
  .action{
    width: 100%;
    position: relative;
  }

  .action input{
    width: 100%
  }
  .action button{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 150px;
  }
  .animated{
      animation-name: none !important;
      visibility: visible !important;
  }
  .logo{
    width: 10px;
  }
}